[Unit]
Description=Watchdog Agent Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=45876"
# Port number can be overridden in watchdog-agent.conf if needed
EnvironmentFile=/etc/watchdog-agent.conf
ExecStart=/usr/bin/watchdog-agent
User=watchdog
Restart=on-failure
StateDirectory=watchdog-agent

# Security/sandboxing settings
KeyringMode=private
LockPersonality=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
